---
import { Image } from 'astro:assets';
import Layout from '../../../../layouts/Layout.astro';
import GoBack from '../../../../components/GoBack.astro';
import sessions from '../../../../data/sessions.json';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { useTranslations } from '../../../../i18n/utils';
import type { languages } from '../../../../i18n/ui';

const currentLang = Astro.currentLocale || 'es';

export function getStaticPaths() {
	return sessions.flatMap(item =>
		['es', 'en'].map(lang => ({
			params: { lang, slug: item.slug },
			props: { session: item?.name, pics: item?.pics },
		}))
	);
}

const { session, pics } = Astro.props;

const translateLabels = useTranslations(currentLang as keyof typeof languages);

const title = translateLabels('meta.session.title');
const description = translateLabels(
	'meta.session.description',
	session
) as string;

export const prerender = true;
---

<Layout
	title={`${title}: ${session} - MÓNICA JUVAROR`}
	description={description}
>
	<section class='mt-[140px] max-w-5xl mx-auto pb-10'>
		<div class='relative flex justify-center items-center'>
			<GoBack
				class='absolute left-4 h-8 w-8 p-1 bg-stone-200 rounded-full'
				path={getRelativeLocaleUrl(currentLang, '/portfolio/sessions')}
			/>
			<h2 class='text-center' transition:animate='slide'>
				<span class='border-b-4 border-[#040404]'>{session}</span>
			</h2>
		</div>
		<div class='flex flex-wrap mt-4'>
			{
				pics?.map((item, index) => (
					<>
						<Image
							class='w-full object-cover sm:w-1/2 p-1'
							id='dynamicLoading'
							src={item}
							inferSize={true}
							alt={`${session} ${index}`}
							transition:animate='slide'
						/>
					</>
				))
			}
		</div>
	</section>
</Layout>

<script src='/src/utils/dynamicLoading.ts'></script>
