---
import { Image } from 'astro:assets';
import Layout from '../../../layouts/Layout.astro';
import GoBack from '../../../components/GoBack.astro';
import sessions from '../../../../sessions.json';

export function getStaticPaths() {
	return sessions.map(session => ({
		params: { slug: session.slug },
		props: { session: session?.name, pics: session?.pics },
	}));
}

const { session, pics } = Astro.props;
---

<Layout title={`${session} Session`}>
	<section class='mt-[140px] max-w-5xl mx-auto pb-10'>
		<div class='relative flex justify-center items-center'>
			<GoBack
				class='absolute left-4 h-8 w-8 p-1 bg-stone-200 rounded-full'
				path='/portfolio/sessions'
			/>
			<h2 class='text-center'>
				<span class='border-b border-b-4 border-[#040404]'>{session}</span>
			</h2>
		</div>
		<div class='flex flex-wrap mt-4'>
			{
				pics?.map((item, index) => (
					<>
						<Image
							class='w-full object-cover sm:w-1/2 p-1'
							id='dynamicLoading'
							src={item}
							inferSize={true}
							alt={`${session} ${index}`}
						/>
					</>
				))
			}
		</div>
	</section>
</Layout>

<script src='/src/utils/dynamicLoading.ts'></script>
