---
import Layout from '../../../layouts/Layout.astro';
import sessions from '../../../../sessions.json';
import { Image } from 'astro:assets';

export function getStaticPaths() {
	return sessions.map(session => ({
		params: { slug: session.slug },
		props: { session: session?.name, pics: session?.pics },
	}));
}

const { session, pics } = Astro.props;
---

<Layout title={`${session} Session`}>
	<section class='max-w-5xl mx-auto pb-10'>
		<h2 class='pt-[140px] text-center'>
			<span class='border-b border-b-4 border-[#040404]'>{session}</span>
		</h2>
		<div class='grid grid-cols-2 auto-rows-auto mt-4'>
			{
				pics?.map((item, index) => (
					<>
						{index % 2 === 0 && <div />}
						<Image
							class='w-full object-cover'
							id='dynamicLoading'
							src={item}
							inferSize={true}
							alt={`${session} ${index}`}
						/>
						{index % 2 !== 0 && <div />}
					</>
				))
			}
		</div>
	</section>
</Layout>

<script src='/src/utils/dynamicLoading.ts'></script>
