---
import { Image } from 'astro:assets';
import Layout from '../../../layouts/Layout.astro';
import GoBack from '../../../components/GoBack.astro';
import data from '../../../data/retouch.json';

export function getStaticPaths() {
	return data.map(item => ({
		params: { slug: item.slug },
		props: { retouch: item?.name, pics: item?.pics },
	}));
}

const { retouch, pics } = Astro.props;
---

<Layout title={`${retouch} Retouch`}>
	<section class='mt-[140px] max-w-5xl mx-auto pb-10'>
		<div class='relative flex justify-center items-center'>
			<GoBack
				class='absolute left-4 h-8 w-8 p-1 bg-stone-200 rounded-full'
				path='/portfolio/retouch'
			/>
			<h2 class='text-center'>
				<span class='border-b border-b-4 border-[#040404]'>{retouch}</span>
			</h2>
		</div>
		<div class='flex flex-col mt-4 px-1 sm:flex-row'>
			{
				pics?.map((item, index) => (
					<>
						<div class='relative sm:w-1/2'>
							<span class='absolute bottom-4 right-6 z-50 text-xl font-medium'>
								{index % 2 === 0 ? 'Before' : 'After'}
							</span>
							<Image
								class='w-full object-cover'
								src={item}
								inferSize={true}
								loading={`${index < 4 ? 'eager' : 'lazy'}`}
								alt={`${retouch} ${index}`}
							/>
						</div>
					</>
				))
			}
		</div>
	</section>
</Layout>

<style lang='scss'>
	span {
		font-family: 'EB Garamond Variable';
		text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
	}
</style>
